{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if post.author_site %}
  {% assign author_site = post.author_site %}
{% elsif page.author_site %}
  {% assign author_site = page.author_site %}
{% else %}
  {% assign author_site = site.author_site %}
{% endif %}



{% if author %}<span class="byline author vcard">Posted by member <span class="fn">

{% if author_site %}

	<a href="{{author_site}}">{{ author | author_links }}</a>
{% else %}

	{{ author | author_links }}

{% endif %}
</span></span>{% endif %}
