<section class="gravatar-section first odd">
  <h1>We are</h1>
  <div class="bio">
    <div class="messages">
      <p><a href="https://codeforfoods.net"><strong>@CodeForFoods</strong></a></p>
      <p>we are web developers</p>
      <p>in Viet Name</p>
      <a href="/about-us">More</a>
    </div>
  </div>
  <div class="gravatar">
    <img src="https://avatars3.githubusercontent.com/u/9510217?v=2&s=400" alt="Github avarta of code for food" title="Github avarta of code for food">
  </div>
</section>