<section class="gravatar-section first odd">
  <h1>I am</h1>
  <div class="bio">
    <div class="messages">
      <p><a href="https://github.com/code-for-food"><strong>@Code For Food</strong></a></p>
      <p>a web developer</p>
      <p>in Viet Name</p>
      <a href="/about-me">More</a>
    </div>
  </div>
  <div class="gravatar">
    <img src="https://avatars3.githubusercontent.com/u/9510217?v=2&s=400" alt="Github avarta of code for food" title="Github avarta of code for food">
  </div>
</section>